/* @font-face {
    font-family: interFont;
    src: url('../public/fonts/inter_font/Inter-VariableFont_slnt\,wght.ttf');
} */

body {
    margin: 0;
}

.carousel {
    height: 30vh;
    width: 100vw;
}

.carousel_inner {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.navbar {
    display: flex;
    background-color: #20243f;
    height: 80px;
    align-items: center;
    width: 100vw;

}

.nav_links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

#am_logo {
    margin: 10px;
    height: 60px;
    width: 60px;
}
